@import './vartiables';
@import './swiper';

.product-container{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    // height: 70%;
    .product-slider{
        width: 50%;
        height: 550px;
        // border: $redborder;
        // border: $redborder;
        padding: 1em;
        background: transparent;
        cursor: pointer;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 90%;
        // border: $redborder;
                    figure{
                        height: 100%;
                        padding: 1em;
                        img {
                            height: 100%;
                          }
                    }
                
              }
          }
    }
    .product-description{
        width: 45%;
        line-height: 1.6;
        h1{
            // color: $lightpink;
            margin: .5em 0;
            font-size: 2.5em;
        }
        p{
            margin: .5em 0;
        }
        .product__price{
            margin: .541em 0;
        }
        .product__varient{
            h3{
                font-size: 1.5em;
            }
            .__varients{
                button{
                    border: none;
                    background: none;
                    padding: .5em 1.5em;
                    border: 1px solid blue;
                    margin: 1em .15em;
                    font-weight: 800;
                    border-radius: 3px;
                    transition: all .5s ease;
                    box-shadow: $shadow;
                    cursor: pointer;
                }
                .active-varient{
                    background:  royalblue;
                    color: #fff;
                    border: none;
                }
            }
        }
        .purchase__options{
            .purchase__optionsBtn{
                border: none;
                    background: none;
                    padding: 1em 1.5em;
                    border: 1px solid royalblue;
                    margin: 1.5em 0;
                    font-weight: 800;
                    border-radius: 3px;
                    transition: all .5s ease;
                    box-shadow: $shadow;
                    cursor: pointer;
            }
            .addtocartbtn{
                width: 250px;
                background: royalblue;
                color: #fff;
                border: none;
            }
            .buynowbtn{
                margin-left: 1em;
            }
        }
        .product__highlights{
            h2{
                margin-top: .51em;
            }
        }
        .other-details{
            section{
                display: flex;
                align-items: center;
                gap: .5em;
                border-top: 1px solid #ddd;
                h3{
                    width: 120px;
                    border-right: 1px solid #000;
                    font-size: 1em;
                }
                p{
                    font-size: .9em;
                    font-weight: thin;
                }

            }
        }

    }
}
.similar-product-slider{
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
          }
    
      }
}